@import 'variables.css';
@import 'utilities.css';


/* COMMON */

section {
    margin-bottom: 30px;
    padding: 30px;
}
/* HEADER */

header {
    color: #fff;
    padding: 1.25rem 3.125rem;
}

ul {
    list-style: none;
    margin:0;
    padding: 0;
}

li {
    margin-left: 20px;
}

/* MAIN */

.square {
    border-radius: 10px;
}

.square-violet {
    background-color: #ba4b63;
}

.square-cyan {
    background-color: #1ea4b6;
}

.square-dark {
    background-color: #000000;
}

.square-heavenly {
    background-color: #1c83c1;
}

.square-blue {
    background-color: #0e38b5;
}

.square-gray {
    background-color: #ccb2a3;
}

#about {
    background-color: #1abc9c;
    color:#fff;
}

/* FOOTER */

footer {
    color:#fff;
}