@import 'variables.css';
@import 'utilities.css';
@import 'components';


/* COMMON */

.ms-container {
    max-width: 62.5rem;
    margin:auto;
}

section {
    margin-bottom: 1.875rem;
    padding: 1.875rem;
}

/* MAIN */

.avatar-img {
    width:14.375rem;
}

.square {
    border-radius: 0.625rem;
}

.fa-star {
    font-size: 1.5625rem;
}

.star {
    color: inherit;
}

.star::before {
    content: '';
    display: block;
    height: 4px;
    width: 70px;
    background-color: currentColor;
    border-radius: 10px;
    margin-right: 10px;
}

.star::after{
    content: '';
    display: block;
    height: 4px;
    width: 70px;
    background-color:currentColor;
    border-radius: 10px;
    margin-left: 10px;
}



.square-violet {
    background-color: #ba4b63;
}

.square-cyan {
    background-color: #1ea4b6;
}

.square-dark {
    background-color: #000000;
}

.square-heavenly {
    background-color: #1c83c1;
}

.square-blue {
    background-color: #0e38b5;
}

.square-gray {
    background-color: #ccb2a3;
}

#about {
    background-color: #1abc9c;
    color:#fff;
}

input {
    border: none;
}

.form-control {
    border:none;
    border-radius: 0;
    border-bottom: 1px solid #ced4da;
}

/* FOOTER */

footer {
    color:#fff;
}

.circle {
    font-size: 25px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border:1px solid #fff;
    text-align: center;
    line-height: 50px;
}

.start {
    color:var(--primary-color);
}