@import 'variables.css';
@import 'utilities.css';
@import 'components';


/* COMMON */

section {
    margin-bottom: 30px;
    padding: 30px;
}

/* MAIN */

.avatar-img {
    width:14.375rem;
}

.square {
    border-radius: 0.625rem;
}

.fa-star {
    font-size: 1.5625rem;
}

.star::before {
    content: '';
    display: block;
    height: 4px;
    width: 70px;
    background-color: #fff;
    border-radius: 10px;
    margin-right: 10px;
}

.star::after{
    content: '';
    display: block;
    height: 4px;
    width: 70px;
    background-color: #fff;
    border-radius: 10px;
    margin-left: 10px;
}



.square-violet {
    background-color: #ba4b63;
}

.square-cyan {
    background-color: #1ea4b6;
}

.square-dark {
    background-color: #000000;
}

.square-heavenly {
    background-color: #1c83c1;
}

.square-blue {
    background-color: #0e38b5;
}

.square-gray {
    background-color: #ccb2a3;
}

#about {
    background-color: #1abc9c;
    color:#fff;
}

/* FOOTER */

footer {
    color:#fff;
}